@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Georama";
  padding: 0;
  margin: 0;
}

.startGameScreen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: skyblue;
}

.startGameScreen h1 {
  font-size: 3rem;
  font-weight: 600;
  transform: translateY(-2rem);
}

.startGame {
  border: 2.5px solid black;
  padding: 2rem;
  padding-top: 1rem;
}

.userInput label {
  display: block;
  margin: 1rem;
  font-size: 2rem;
}

.button button {
  border: none;
  margin-top: 1.5rem;
  width: 8rem;
  height: 2rem;
  font-family: "Georama";
  font-size: 1rem;
  font-weight: 500;
  border-radius: 1rem;
}

.button button:hover {
  transform: scale(1.05);
  transition: transform 200ms ease-in-out;
}

.button button a {
  text-decoration: none;
  color: black;
}

.userInput input {
  width: 16rem;
  height: 2rem;
  border-radius: 1rem;
  font-size: 1rem;
  text-align: center;
  border: none;
}

.userInput input:focus {
  outline: none;
}

.showPlayerName{
  display: flex;
  gap: 3rem;
}

.showPlayerName h1{
  font-size: 1.8rem;
}

.icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameScreen{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: skyblue;
  justify-content: flex-start;
  gap: 2rem;
}

.gameBoard{
  height: 36rem;
  max-width: 42rem;
  display: flex;
  flex-wrap: wrap;
}

.block{
  height: 6rem;
  width: 6rem;
  background-color: teal;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  box-sizing: border-box;
}

.game{
  display: flex;
}

.space{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: white;
}

.green{
  background-color: green;
}

.red{
  background-color: red;
}

.result{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: skyblue;
}

.result h1{
  font-size: 3rem;
}

.result h2{
  margin: 1rem;
  font-size: 4rem;
}

@media(max-width: 675px){
  .gameBoard{
    height: 30rem;
    width: 35rem;
  }
  .block{
    height: 5rem;
    width: 5rem;
  }
  .space{
    height: 3rem;
    width: 3rem;
  }
}

@media(max-width: 570px){
  .gameBoard{
    height: 24rem;
    width: 28rem;
  }
  .block{
    height: 4rem;
    width: 4rem;
  }
  .space{
    height: 2.5rem;
    width: 2.5rem;
  }
}

@media(max-width: 460px){
  .gameBoard{
    height: 18rem;
    width: 21rem;
  }
  .block{
    height: 3rem;
    width: 3rem;
  }
  .space{
    height: 1.5rem;
    width: 1.5rem;
  }
  .showPlayerName h1{
    font-size: 1.2rem;
  }
  .showPlayerName{
    gap: 1rem;
  }
}

@media(max-width: 350px){
  .gameBoard{
    height: 12rem;
    width: 14rem;
  }
  .block{
    height: 2rem;
    width: 2rem;
  }
  .space{
    height: 1.25rem;
    width: 1.25rem;
  }
  .showPlayerName h1{
    font-size: 0.8rem;
  }
  .showPlayerName{
    gap: 0.5rem;
  }
}